<html>
    <head>
        <title>Spotify API</title>
    </head>

    <body>
        <form action="/users/updated" method="post" enctype="application/json">
            <label for="email"><%= user.email %></label>
            <input type="email" name="email" id="email"/>
            <label for="password"><%= user.password %></label>
            <input type="password" name="password" id="password"/>
            <button type="submit">Modifier</button>
        </form>
    </body>
</html>