<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/users/create">Create a user</a>
    <ul>
      <% users.forEach(function(user){ %>
        <form action="/users/:userId" method="patch" enctype="application/json">
          <li>test<%= user.email %></li>
          <button type="submit">Edit</button>
         </form>
      <% }) %>
    </ul>
  </body>
</html>
